<?xml version="1.0" encoding="utf-8"?>

<beans>
    <bean name="userDao" class="com.durex.dao.UserDao"/>
    <bean id="userService" class="com.durex.service.UserService">
        <property name="name" value="durex3"/>
        <property name="userDao" ref="userDao"/>
    </bean>
    <bean name="myBeanFactoryPostProcessor" class="com.durex.config.MyBeanFactoryPostProcessor"/>
    <bean name="myBeanFactoryPostProcessor2" class="com.durex.config.MyBeanFactoryPostProcessor2"/>
    <bean name="myBeanPostProcessor" class="com.durex.config.MyBeanPostProcessor"/>
    <bean name="myBeanPostProcessor2" class="com.durex.config.MyBeanPostProcessor2"/>
    <bean name="myInstantiationAwareBeanPostProcessor"
          class="com.durex.config.MyInstantiationAwareBeanPostProcessor"/>
    <bean name="myInstantiationAwareBeanPostProcessor2"
          class="com.durex.config.MyInstantiationAwareBeanPostProcessor2"/>

    <bean name="user" class="com.durex.component.User" init-method="init" destroy-method="close"/>
</beans>