<?xml version="1.0" encoding="utf-8"?>

<beans>
    <bean name="userDao" class="org.simpleframework.dao.UserDao"/>
    <bean id="userService" class="org.simpleframework.service.UserService">
        <property name="name" value="durex3"/>
        <property name="userDao" ref="userDao"/>
    </bean>
    <bean name="myBeanFactoryPostProcessor" class="org.simpleframework.conig.MyBeanFactoryPostProcessor"/>
    <bean name="myBeanFactoryPostProcessor2" class="org.simpleframework.conig.MyBeanFactoryPostProcessor2"/>
    <bean name="myBeanPostProcessor" class="org.simpleframework.conig.MyBeanPostProcessor"/>
    <bean name="myBeanPostProcessor2" class="org.simpleframework.conig.MyBeanPostProcessor2"/>
    <bean name="myInstantiationAwareBeanPostProcessor"
          class="org.simpleframework.conig.MyInstantiationAwareBeanPostProcessor"/>
    <bean name="myInstantiationAwareBeanPostProcessor2"
          class="org.simpleframework.conig.MyInstantiationAwareBeanPostProcessor2"/>
</beans>